<!DOCTYPE html>
<html>
<head>
<!-- 	styling files  -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<!-- js files -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/ie-emulation-modes-warning.js"></script>
<script type="text/javascript" src="../static/js/ie10-viewport-bug-workaround.js"></script>
</head>
<body>
<div class="container">
<br><br>
{% if messages %}
{% if messages[0].keys %}

<select id="myselect" class="btn btn-primary">
    <option value="1">1</option>
    <option value="3">2</option>
    <option value="5">3</option>
    <option value="7">4</option>
</select>

{% endif %}
{% endif %}
<br><br>

<!-- alert message -->
 {% if messages %}
<div class="alert alert-info alert-dismissible" name="alert" id="alert" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<br/>
{% if messages[0].keys %}
<div class="row">
    {% for key in messages[0].keys(): %}
    <div class="col-sm-2">    
        <strong>{{key}}</strong>
    </div>
    {% endfor %}
</div>
<div name="data" id="data">
{% for message in messages %}
<div  id ="info" class="row">
    {% for key in message.keys(): %}
    <div class="col-sm-2">   
        {{message[key]}}
    </div>
    {% endfor %}
</div>
<br/>
{% endfor %}
</div>   
{% else %}
{{messages}}
{% endif %}
{% endif %}
</div>

 <!-- main form  -->
<form class="form-horizontal col-lg-3 col-sm-4" action='{{url_for('checkRestaurant')}}' method='post'>
    <label>Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Restaurant Name">
    <br/>
    <label>Address</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="Restaurant Location" >
    <br/>
    <label>Latitude</label>
    <input type="text" class="form-control" name="lat"  placeholder="Latitude" >
    <br/>
    <label>Latitude</label>
    <input type="text" class="form-control" name="lng" placeholder="Logitude">
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
<script type="text/javascript">
$("#myselect").change(function (){
    var select = parseInt($( "#myselect").val());
    for (i = 1; i <= select; i=i+2) {   
        console.log("#data #info:nth-child("+i+")" ); 
        $( "#data #info:nth-child("+i.toString()+")" ).show();
    }
    for (i = select+2; i <= 7; i=i+2) {
        console.log(i); 
     
        $( "#data #info:nth-child("+i.toString()+")" ).hide();
    }
}).change();
</script>


</html>